/*Go to zero style*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* Головні стилі для сайту */
body {
	background-color: #eeee;
}

/* Стилі хедера */
header {
	display: flex;
	justify-content: space-between;
	background-color: #007765;
	height: 84px;
	width: 2010px;
	position: fixed;
}

/* Лого */
.logo {
	height: 45px;
	width: 183px;
	margin-top: 20px;
	margin-left: 500px;
}

/* Головне меню */

ul {
	margin-top: 28px;
	margin-right: 394px;
}

li {
	display: inline;
	color: #fff;
	font-family: 'Roboto', 'Arial' ,'serif';
	font-size: 24px;
	text-transform: uppercase;
}

.main_menu {
	color: #fff;
	border-right: #fff solid 2px;
	padding-right: 12px;
	padding-left: 10px;
}



.main_menu_last { 
	color: #fff;
	padding-right: 12px;
	padding-left: 10px;
    border-right: none;
} 

/* Стилі шрифтів */
h1 {
	font-size: 72px;
	font-weight: 400;
	font-family: 'Roboto';
	color: #fff;
}

h2 {
	font-size: 64px;
	font-weight: 400;
	font-family: 'Roboto';
	color: #007765;
	text-align: center;
}

h3 {
	font-size: 48px;
	font-weight: 400;
	font-family: 'Roboto';
	font-style: italic;
	color: #fff;
}

h4 {
	font-size: 24px;
	font-weight: 700;
	font-family: 'Roboto';
	color: #007765;
}

h5 {
	font-size: 18px;
	font-weight: 500;
	font-family: 'Roboto';
	color: #000;
	font-style: italic;
}

p {
	font-size: 32px;
	font-weight: 500;
	font-family: 'Roboto';
	color: #000;
	text-align: justify;

}

span {
	font-size: 32px;
	font-weight: 700;
	font-family: 'Roboto';
	color: #000;
}

br {
	line-height:56px;
}

/* Перша секція PiperNet Is Here */
.piper_net {
	display: flex;
	justify-content: center;
	background-image: url(/img/pipernet.png);
	height: 403px;
	width: auto;
	padding-top: 84px;
}
.piper_net__text {
	padding: 104px 0 0px 0;
}

/* Друга секція The Problem */
.the_problem {
	display: flex;
	justify-content: center;
	height: 140px;
	width: auto;
}

.the_problem__text {
	padding: 48px 0 0px 0;
}

.the_problem__p {
	
	display: flex;
	justify-content: center;
	height: auto;
	width: auto;
	padding-bottom: 92px;

}

.the_problem__p-text {
	padding: 18px 458px 18px 458px;
}

/* Третя секція We’re in this together*/
.were_in_together {
	display: flex;
	justify-content: center;
	background-image: url(/img/were.png);
	height: 403px;
	width: auto;
}
.were_in_together__text {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 122px 542px 0 542px;
}

/* Четверта секція */
.introducing {
	background-color: #fff;
}

.introducing__text_h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 48px 0 4px 0;
}

.introducing__text_p {
	display: flex;
	text-align: left;
	padding: 0px 458px 22px 458px;
	background-color: #fff;
	
}

.introducing__text_p_p {
	display: flex;
	text-align: left;
	padding: 0px 458px 92px 458px;
	background-color: #fff;
	
}
.ppc-logo-text {
	display: flex;
	justify-content: space-around;
	background-color: #fff;

}

.introducing__text_for_logo{
	font-size: 32px;
	font-weight: 500;
	font-family: 'Roboto';
	color: #000;
	text-align: justify;
	padding: 50px 462px 30px 50px;
	background-color: #fff;
}
.usersforusers {
	font-size: 32px;
	font-weight: 500;
	font-family: 'Roboto';
	font-style: italic;
	color: #000;
}

.ppc_logo {
	padding: 40px 0 50px 468px;
	height: auto;
	width: auto;
}

/* Team секція */
.team {
	background-color: #EEEEEE ;
	height: auto;
	width: auto;
	margin-top: 62px;
}

.team_one {
	display: flex;
	justify-content: space-around;
	padding-right: 50px;
	text-align: center;
	width: 1000px;
	margin-left: 522px;
}

.team_one_card {
	padding: 60px 0px 60px 0;
}

.team_one_card__name {
	padding-top: 10px;
}

/* Копірайт */
.copyright {
	background-color: #333333;
	height: 176px;
}

.copyright_text {
	color:#fff;
	font-size: 18px;
	font-weight: 300;
	font-family: 'Roboto';
	text-align: center;
	padding: 50px 736px 60px 736px;
}

