/*Go to zero style*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

/* Головні стилі для сайту */
body {
	background-color: #eeee;
}

/* Стилі хедера */
header {
	display: flex;
	justify-content: space-between;
	background-color: #007765;
	height: 84px;
	width: auto;
}

/* Лого */
.logo {
	height: 45px;
	width: 183px;
	margin-top: 20px;
	margin-left: 500px;
}

/* Головне меню */
ul {
	margin-top: 28px;
	margin-right: 394px;
}

li {
	display: inline;
	color: #fff;
	font-family: 'Roboto', 'Arial' ,'serif';
	font-size: 24px;
	text-transform: uppercase;
}

.main_menu {
	color: #fff;
	border-right: #fff solid 2px;
	padding-right: 12px;
	padding-left: 10px;
}



.main_menu_last { 
	color: #fff;
	padding-right: 12px;
	padding-left: 10px;
    border-right: none;
} 

/* Стилі шрифтів */
h1 {
	font-size: 72px;
	font-weight: 400;
	font-family: 'Roboto';
	color: #fff;
}

h2 {
	font-size: 64px;
	font-weight: 400;
	font-family: 'Roboto';
	color: #007765;
}

h3 {
	font-size: 48px;
	font-weight: 400;
	font-family: 'Roboto';
	font-style: italic;
	color: #fff;
}

p {
	font-size: 32px;
	font-weight: 500;
	font-family: 'Roboto';
	color: #000;
	text-align: justify;

}

span {
	font-size: 32px;
	font-weight: 700;
	font-family: 'Roboto';
	color: #000;
}

br {
	line-height:56px;
}

/* Перша секція PiperNet Is Here */
.piper_net {
	display: flex;
	justify-content: center;
	background-image: url(/img/pipernet.png);
	height: 403px;
	width: auto;
}
.piper_net__text {
	padding: 164px 0 0 0;
}

/* Друга секція The Problem */
.the_problem {
	display: flex;
	justify-content: center;
	height: 140px;
	width: auto;
}

.the_problem__text {
	padding: 50px 0 0px 0;
}

.the_problem__p {
	
	display: flex;
	justify-content: center;
	height: auto;
	width: auto;

}

.the_problem__p-text {
	padding: 18px 458px 18px 458px;
}

/* Третя секція We’re in this together*/
.were_in_together {
	display: flex;
	justify-content: center;
	background-image: url(/img/were.png);
	height: 403px;
	width: auto;
}
.were_in_together__text {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 122px 562px 0 562px;
}

/* Четверта секція */
.introducing__text_h2 {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 48px 0 48px 0;
}

.introducing__text_p {
	display: flex;
	justify-content: center;
	text-align: center;
	padding: 0px 458px 22px 458px;
	
}
